.appWrapper{
    background-image: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2133x1600/361dfab476bc1540964376eb7b6774c1/photo-1683005528969-1d583c0141b9.jpg");
    background-position: 50%;
    background-size: cover;
    overflow: hidden;
}