.dropdown {
    position: absolute;
    top: 45px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    width: 304px;
    min-height: 50px;
    border: 1px solid;
    border-color: var(--color-grey);
    border-radius: 5px;
    background-color: var(--color-white);
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 1000;

    &Open {
        opacity: 1;
        visibility: visible;
    }

    &Right{
        position: absolute;
        top: 45px;
        left: auto;
        right: 0; 
    }

    @media (max-width: 768px) {
        display: none;
    }
}