:root {
    --font-family: 'Fira sans', sans-serif;
    --content-width: 1230px;
    --container-offset: 15px;
    --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

    --color-white: #fff;
    --color-black: #000;
    --color-red: #f00;
    --color-green: #00a340;
    --color-dark: #141414;
    --color-light-dark: #1f1f1f;
    --color-primary: #005382;
    --color-dark-primary: #003f63;
    --color-blue-dark: #2e4553;
    --color-blue-lightest: #f5f8fb;
    --color-blue-light: #c1d9f9;
    --color-blue-darkest: #0a1c34;
    --color-blue: #5a89b9;

    --color-brown-dark: #784503;
    --color-brown-rgb-value: 175, 135, 83;
    --color-brown: #94662B;
    --color-brown-light: #AF8753;
    --color-grey-darkest: #3a3a3a;
    --color-grey-dark: #7e7e7e;
    --color-grey-rgb-value: 210, 214, 221;
    --color-grey: #D2D6DD;
    --color-grey-lightest: #F7F8F9;
}
