$itemWidth: 100%;
$itemHeight: 30px;
$itemTransition: 0.3s;

.item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: $itemWidth;
    min-height: $itemHeight;
    margin-bottom: 10px;
    border: 1px solid var(--color-grey);
    box-shadow: -1px 2px 2px var(--color-grey);
    border-radius: 5px;
    padding: 15px;
    word-break: break-all;
    cursor: pointer;

    transition: $itemTransition;

    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    &:hover{
        background-color: var(--color-grey);
    }
}

.text{
    width: fit-content;
}

.edit{
    display: flex;
    padding-left: 5px;
}

.input input{
    padding: 5px !important;
    height: 100%;
    width: 100%;
}

.button{
    font-size: medium;
    color: var(--color-grey-dark);
    &:hover{
        color: var(--color-grey-darkest)
    }
    &:not(:last-child){
        padding-right: 5px;
    }
}