.dropdownWrapper{
    position: relative;
}

.openButton{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    padding: 6px 10px !important;
    border-radius: 3px;
    transition: 0.1s;

    &:hover{
        background-color: rgba($color: var(--color-brown-rgb-value), $alpha: 0.5) !important; 
    }
    &Open{
        background-color: rgba($color: var(--color-brown-rgb-value), $alpha: 0.5) !important; 
        &:hover{
            background-color: var(--color-brown) !important;
        }
    }
}

.dropdown {
    position: absolute;
    top: 45px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    width: 304px;
    min-height: 50px;
    border: 1px solid;
    border-color: var(--color-grey);
    border-radius: 5px;
    background-color: var(--color-white);
    transition: opacity 0.3s, visibility 0.3s;

    &Open {
        opacity: 1;
        visibility: visible;
    }

    @media (max-width: 768px) {
        display: none;
    }
}

