.openButton{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    padding: 6px 10px !important;
    border-radius: 3px;
    transition: 0.1s;

    &:hover{
        background-color: var(--color-brown-light)!important; 
    }
    &Active{
        background-color: var(--color-brown) !important;
        &:hover{
            background-color: var(--color-brown-light) !important;
        }
    }
}

.image{
    font-size: 18px;
    padding-left: 5px;
}